@using ShopMVC.Helpers
@model PaginatedList<ShopMVC.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_ListProduct";
}

@section BreadCum {
    <div class="container">
        <h1 class="text-center display-4">Shop</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center bg-transparent mb-0">
                <li class="breadcrumb-item"><a href="/" class="text-black">Home</a></li>
                <li class="breadcrumb-item"><a href="/Product" class="text-black">Shop</a></li>
            </ol>
        </nav>
    </div>
}
@if (Context.User.Identity?.IsAuthenticated == true)
{
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-9">
                <div class="row g-4 justify-content-center" id="productList">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-6 col-lg-6 col-xl-4 product-item" data-price="@item.UnitPrice">
                            <div class="card border-0 shadow rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductID">
                                        <img src="~/Image/Product/@item.ImageFileName" class="card-img-top img-fluid w-100 rounded-top" alt="@item.ProductName">
                                    </a>
                                </div>
                                <div class="text-white bg-secondary px-3 py-1 rounded-top position-absolute" style="top: 10px; left: 10px;">@item.CategoryName</div>
                                <div class="card-body p-4 border border-secondary border-top-0 rounded-bottom">
                                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductID">
                                        <h4 class="card-title">@item.ProductName</h4>
                                    </a>
                                    <p class="card-text">@item.ShortDescription</p>
                                    <div class="d-flex justify-content-between flex-lg-wrap">
                                        <p class="text-dark fs-5 fw-bold mb-0">$@item.UnitPrice</p>
                                        <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.ProductID"
                                           class="btn btn-primary border border-secondary rounded-pill px-3 text-white">
                                            <i class="fa fa-shopping-bag me-2"></i> Add to Cart
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                @await Html.PartialAsync("_Pagination", Model)
            </div>
        </div>
    </div>
}
else
{
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p>You need to Log In to see our products.</p>
                <a href="@Url.Action("LogIn", "Customer")" class="btn btn-primary">Log In</a>
            </div>
        </div>
    </div>
}
